<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:600px;" th:object="${team}">
    <div class="container">
        <div class="form-group">
            <label th:for="name">Enter Team Name: </label>
            <input class="form-control" th:field="*{name}" />
            <span th:errors="*{name}" class="error"></span> <br />
            <label th:for="search">Select Team Members: </label>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <input type="search" class="form-control" id="search" placeholder="Add your options..." />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="searchable-container">
                    <div class="items col-xs-5 col-sm-5 col-md-3 col-lg-3">
                        <div class="info-block block-info clearfix">
                            <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                <label class="btn btn-default">
                                    <div class="bizcontent">
                                        <input type="checkbox" name="var_id[]" autocomplete="off" value="" />
                                        <span class="glyphicon glyphicon-ok glyphicon-lg"></span>
                                        <h5>Covfefe</h5>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br />
        <input type="submit" value="Add Team" />

    </div>

    <script type="text/javascript">
        $(function() {
            $('#search').on('keyup', function() {
                var pattern = $(this).val();
                $('.searchable-container .items').hide();
                $('.searchable-container .items').filter(function() {
                    return $(this).text().match(new RegExp(pattern, 'i'));
                }).show();
            });
        });
    </script>

</form>

</body>
</html>