<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<div th:unless="${teams} and ${teams.size()}" align="center"><br/><h3>You currently do not have any teams added.<br/>Would you like to <a href="/team/addteam">add one now</a>?</h3></div>

<form method="post" th:if="${teams} and ${teams.size()}">
    <table class="table">
        <tr>
            <th>Team Name</th>
            <th>Team Members</th>
            <th>Delete?</th>
        </tr>
        <tr th:each="team : ${teams}">
            <td><a th:href="@{/team/} + ${team.id}" th:text="${team.name}" /></td>
            <td><span th:each="teamMember, iterStat : ${team.teamMembers}" th:text="!${iterStat.last} ? ${teamMember.name} + ', ': ${teamMember.name}" /></td>
            <td><input type="checkbox" name="teamIds[]" th:value="${team.id}"/></td>
        </tr>
    </table>
    <div align="center">
        <button type="submit" name="action" value="addteam" class="btn btn-primary btn-success"><span class="glyphicon glyphicon-plus"></span> Add Team</button>
        <button type="submit" name="action" value="deleteteams" class="btn btn-primary btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete Teams</button>
    </div>
</form>

</body>
</html>