<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${teams} and ${teams.size()}">You currently do not have any teams added. Would you like to add one now?</p>

<form action="/team/addteam/">
    <input type="submit" value="Add a Team" /> <br />
</form> <br />

<form method="post">
    <table class="table">
        <tr>
            <th>Team Name</th>
            <th>Team Members</th>
            <th>Delete?</th>
        </tr>
        <tr th:each="team : ${teams}">
            <td><a th:href="@{/team/} + ${team.id}" th:text="${team.name}" /></td>
            <td><span th:each="teamMember, iterStat : ${team.teamMembers}" th:text="!${iterStat.last} ? ${teamMember.name} + ', ': ${teamMember.name}" /></td>
            <td><input type="checkbox" name="teamIds[]" th:value="${team.id}"/></td>
        </tr>
    </table>
    <div align="center"><input type="submit" value="Delete Records"/></div>
</form>

</body>
</html>