<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<h3>Add Team Member</h3>

<form method="post" style="max-width:600px;" th:object="${teamMember}">
    <div class="form-group">
        <label th:for="name">Name: </label>
        <input class="form-control" th:field="*{name}" required="required" />
        <span th:errors="*{name}" class="error"></span> <br />

        <label th:for="email">Email Address: </label>
        <input class="form-control" th:field="*{email}" required="required" type="email" />
        <span th:errors="*{email}" class="error"></span> <br />
    </div>
    <button type="submit" class="btn btn-primary btn-success"><span class="glyphicon glyphicon-plus"></span> Add Team Member</button>
    <a href="/teammember" class="btn btn-primary btn-danger"><span class="glyphicon glyphicon-remove"></span> Cancel</a>
</form>

</body>
</html>