<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${teamMembers} and ${teamMembers.size()}">You currently do not have any team added. Would you like to add one now?</p><br /><br />

<form action="/teammember/addteammember/">
    <input type="submit" value="Add a Team Member" /> <br />
</form> <br />

<form method="post">
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Email Address</th>
            <th>Teams</th>
            <th>Delete?</th>
        </tr>
        <tr th:each="teamMember : ${teamMembers}">
            <td><a th:href="@{/teammember/} + ${teamMember.id}" th:text="${teamMember.name}" /></td>
            <td th:text="${teamMember.email}"></td>
            <td><span th:each="team, iterStat : ${teamMember.teams}" th:text="!${iterStat.last} ? ${team.name} + ', ': ${team.name}" /></td>
            <td><input type="checkbox" name="teamMemberIds[]" th:value="${teamMember.id}"/></td>
        </tr>
    </table>
    <div align="center"><input type="submit" value="Delete Records"/></div>
</form>

</body>
</html>